* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.board {
	width: calc(80px * 8);
	height: calc(80px * 8);
	border: 2px solid #333;
	display: flex;
	flex-wrap: wrap;
}

.cell {
	max-width: 80px;
	flex: 0 0 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.black {
	background: rgb(41, 41, 41);
}

.white {
	background: rgb(232, 232, 232);
}
