* {
	margin: 0;
	padding: 0;
}
body {
	background: rgb(135, 167, 222);
}
.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.board {
	width: calc(80px * 8);
	height: calc(80px * 8);
	border: 2px solid #333;
	display: flex;
	flex-wrap: wrap;
}

.cell {
	max-width: 80px;
	flex: 0 0 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cell img {
	width: 90%;
	height: 90%;
}
.cursor {
	cursor: pointer;
}
.black {
	background: #0065ac;
}

.white {
	background: rgb(230, 230, 230);
}

.selected {
	box-shadow: inset 0 0 0 2px #333, inset 0 0 0 7px #67ee67, inset 0 0 0 9px #333;
}
.selected img {
	animation: pulse 700ms ease-in-out infinite alternate;
}
@keyframes pulse {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.1);
	}
}

.available {
	position: relative;
}
.available:after {
	content: "";
	width: 100%;
	height: 100%;
	background-color: #008f0c;
	opacity: 0.35;
}

.onAttack {
	position: relative;
}
.onAttack img {
	position: relative;
}
.onAttack::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #ff0000;
	opacity: 0.35;
}
