* {
	margin: 0;
	padding: 0;
}
body {
	background: rgb(135, 167, 222);
}
.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.board {
	width: calc(80px * 8);
	height: calc(80px * 8);
	border: 2px solid #333;
	display: flex;
	flex-wrap: wrap;
}

.cell {
	max-width: 80px;
	flex: 0 0 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.cell img {
	width: 90%;
	height: 90%;
}
.black {
	background: rgb(28, 70, 47);
}

.white {
	background: rgb(205, 216, 194);
}
